# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DjangoProjects\REALEST_ESTATE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
